[Desktop Entry]
Name=CosmiCal
Comment=A minimal calendar, notes, and clipboard utility for the COSMIC desktop
Type=Application
Icon=cosmi-cal
Exec=cosmi-cal %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
