[Desktop Entry]
Name=CosmiCal
Comment=A minimal calendar, notes, and clipboard utility for the COSMIC desktop
Type=Application
Icon=io.github.sixesandsevens.cosmical
Exec=cosmi-cal
Terminal=false
StartupNotify=true
Categories=Office;Utility;
Keywords=calendar;notes;clipboard;COSMIC;Pop;
